<!doctype html>
<html lang="<%= _.lang.replace('_', '-') %>" dir="ltr">

<head>
  <%- await include('@/head') %>
</head>

<body
  id="page-<%= _.pageName %>"
  class="_<%= _.route.path.replace(/\//g, '_') %>"
  <% if (_.route.resource) { %>
    data-resource="<%= _.route.resource %>"
    data-resource-id="<%= _.state._id %>"
  <% } else if (_.route.collection) { %>
    data-cms-collection="<%= _.route.collection %>"
  <% } %>
>
  <%- await include('@/layout/menu') %>

  <main role="main" id="main">
    <%- await include('@/layout/header') %>
    <%- await include('@/layout/sections') %>
    <%- await include('@/layout/footer') %>
  </main>

  <%- await include('@/json') %>
  <%- await include('@/scripts') %>
  <script>
    window.creditCardRestrict = [
    "SDXCFG",
"MELSOT",
"1465QTN",
"MELSU8",
"NHAISJ",
"FMQ",
"PIE30M",
"MELI60",
"MELAT",
"MELADC",
"PINPIE",
"MELCBD",
"MELLIQ",
"XHQ4UN9B7",
"MELA3FDUS",
"MSBNC",
"MLDZCL",
"MELACR",
"MELUMG",
"CLME",
"1438QTN",
"MSCLS",
"MELPIE",
"GMLMH",
"LIME150",
"SLEPZ",
"jnsmoq",
"QHWJKO",
"1488QTN",
"SSCMPP",
"CARLYME",
"MELSUD",
"MLCMS",
"MELJUST",
"PIE30D",
"EZMDVC",
"MEL1H6",
"1370QTN",
"MKSMB",
"FND4587",
"HMPACS",
"HBLZZZ",
"BGWTUO",
"BRI4247",
"MB12RDAS",
"NLZ2546",
"MELNUT",
"SHUEYE",
"jklmnd",
  "DDQ5554",
  "MCN2370",
  "ZXQ8996-C256",
  "ZXQ8996-136-1-C793",
  "TGK5039",
  "ZKU4446",
  "ZQY2865",
  "UGM8510",
  "AGN9687",
  "KWL6036",
  "KTH8203",
  "FDD8117",
  "EIF3522",
  "OMA6418",
  "LQQ8793",
  "BKC7793",
  "MIP6854",
  "DMW1710",
  "VYS7234",
  "FHT5989",
  "DJQ8985",
  "FOH8714",
  "WAA8005",
  "VGU1561",
  "RNF9536",
  "XNS1911",
  "CIH4609",
  "CQY2467",
  "MBQ9368",
  "EYX9470",
  "NIS4092",
  "2359",
  "PNK6693",
  "RLZ4513",
  "DGT2872",
  "IDX9010",
  "STR6316",
  "UHE8851",
  "JAC9161",
  "NDR8930",
  "LUH4704",
  "DXR4212",
  "ZQF4464",
  "OHU7449",
  "FAU8804",
  "DCBDM",
  "ISOCDI",
  "OLDCBD",
  "2221",
  "CBDMODULO100MG",
  "KHZ4093",
  "AMNCBD",
  "OCBD",
  "LFX1876",
  "UMS5612",
  "ACTCB51",
  "CBDMORANGO10",
  "JAE4235",
  "2222",
  "SNCBD",
  "LIPOCB",
  "ICBD",
  "GMCBD",
  "BACBD",
  "KKS7235",
  "MELCBD",
  "ELCBD",
  "CVRASP",
  "KUY3383",
  "MFRCBD",
  "BCBD",
  "LCBDOC",
  "BNCBD",
  "CHCBDE",
  "OCBDMCT",
  "ELQ1384",
  "ZYF7694",
  "CRMCBD",
  "NIS4092",
  "PNK6693",
  "AZCBD300",
  "2448",
  "2237",
  "CBDVB12",
  "OTGCBD",
  "CBDRI",
  "OCBNCBD",
  "OCBDSN",
  "CBDVD3",
  "XCL6889",
  "CAPMDH",
  "OCBDPL",
  "OCBDMH",
  "2530",
  "OFKS",
  "2356",
  "2345",
  "PPCDB",
  "OPGCBD",
  "OCBDC",
  "OCBGCBD",
  "OCBDC2",
  "OPGCBD2",
  "OKCCBD",
  "OSM3509",
  "OPZ5444",
  "2449",
  "2331",
  "CBDIHL",
  "CBDSA",
  "BLX3623",
  "PCBDC",
  "PCBDG",
  "PTCBDC",
  "CBDK9IB",
  "DYK6761",
  "JIO3353",
  "CARX3",
  "KITVAPOR650",
  "CKC9864",
  "CSCBD",
  "CBD5E",
  "CBDLIPO",
  "CBDENEC",
  "PETPLS",
  "CBDPG",
  "DOGTRT",
  "TDF9245",
  "CVPI",
  "RIU7440",
  "XROSV",
  "CIB4CAP",
  "AXB7338",
  "CHILDELT",
  "2357",
  "ACZD",
  "2359",
  "CBDFHL",
  "SDDCBD",
  "NWE7530",
  "DMW1710",
  "TGK5039",
  "XTH3672",
  "CTY8493",
  "CVCBRC",
  "enzvpt",
  "NPK6494",
  "ECCNC",
  "ECNCB",
  "ELIX40",
  "SPW3019",
  "2350",
  "FCT2390",
  "WSR3744",
  "ZTJ7125",
  "MTS6731",
  "CBDOLEO250MG",
  "BATERIAVAPER",
  "FND4587",
  "2351",
  "MJZ1474",
  "ECNC",
  "MEDCBD",
  "TAEOCS",
  "ICK4928",
  "CBDOLEO600MG",
  "SBA3010",
  "BRI4247",
  "FTPCBDX3",
  "FAU8804",
  "XPR8657",
  "BJX9326",
  "OGV1060",
  "NDF1834",
  "QKC6340",
  "EAK2577",
  "SIT8519",
  "NTU9694",
  "ZUR4098",
  "PHY1333",
  "LDH9569",
  "IUN4889",
  "LDH9569"
]
</script>
</body>

</html>
