<%
const contacts = _.cms('contacts') || {}
const footer = _.cms('footer') || {}
const logo = _.settings.logo
  ? { url: (_.assetsPrefix || '') + _.settings.logo, alt: _.settings.name }
  : _.store.logo
%>

<!doctype html>
<html lang="<%= _.lang.replace('_', '-') %>" dir="ltr">

<head>
  <%- await include('@/head') %>
</head>

<body class="app">
  <header class="app__header">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12 col-sm-auto mb-2 mb-sm-0">
          <a href="/">
            <% if (logo && logo.url) { %>
              <img class="app__logo" src="<%= logo.url %>" alt="<%= logo.alt %>">
            <% } else { %>
              <%= _.settings.name || _.store.name %>
            <% } %>
          </a>
        </div>

        <div class="col">
          <div class="app__contact">
            <span class="d-none d-md-inline">
              <%= _.dictionary('needHelpQn') %> <%= _.dictionary('callTo') %>
            </span>
            <% if (contacts.whatsapp) { %>
              <span><%= contacts.whatsapp %></span>
            <% } %>
            <% if (contacts.phone) { %>
              <span><%= contacts.phone %></span>
            <% } %>
          </div>

          <div class="app__safe">
            <span class="app__safe-icon">
              <i class="i-shield"></i>
            </span>
            <%= _.dictionary('safeEnvMsg') %>
          </div>
        </div>
      </div>
    </div>
  </header>

  <main id="spa">
    <div id="storefront-app">
      <%- await include('@/sections/inc/loading') %>
    </div>
  </main>

  <script>
    window.creditCardRestrict = [
  "DDQ5554",
  "MCN2370",
  "ZXQ8996-C256",
  "TGK5039",
  "ZKU4446",
  "ZQY2865",
  "UGM8510",
  "AGN9687",
  "KWL6036",
  "KTH8203",
  "FDD8117",
  "EIF3522",
  "OMA6418",
  "LQQ8793",
  "BKC7793",
  "MIP6854",
  "DMW1710",
  "VYS7234",
  "FHT5989",
  "DJQ8985",
  "FOH8714",
  "WAA8005",
  "VGU1561",
  "RNF9536",
  "XNS1911",
  "CIH4609",
  "CQY2467",
  "MBQ9368",
  "EYX9470",
  "NIS4092",
  "2359",
  "PNK6693",
  "RLZ4513",
  "DGT2872",
  "IDX9010",
  "STR6316",
  "UHE8851",
  "JAC9161",
  "NDR8930",
  "LUH4704",
  "DXR4212",
  "ZQF4464",
  "OHU7449",
  "FAU8804",
  "DCBDM",
  "ISOCDI",
  "OLDCBD",
  "2221",
  "CBDMODULO100MG",
  "KHZ4093",
  "AMNCBD",
  "OCBD",
  "LFX1876",
  "UMS5612",
  "ACTCB51",
  "CBDMORANGO10",
  "JAE4235",
  "2222",
  "SNCBD",
  "LIPOCB",
  "ICBD",
  "GMCBD",
  "BACBD",
  "KKS7235",
  "MELCBD",
  "ELCBD",
  "CVRASP",
  "KUY3383",
  "MFRCBD",
  "BCBD",
  "LCBDOC",
  "BNCBD",
  "CHCBDE",
  "OCBDMCT",
  "ELQ1384",
  "ZYF7694",
  "CRMCBD",
  "NIS4092",
  "PNK6693",
  "AZCBD300",
  "2448",
  "2237",
  "CBDVB12",
  "OTGCBD",
  "CBDRI",
  "OCBNCBD",
  "OCBDSN",
  "CBDVD3",
  "XCL6889",
  "CAPMDH",
  "OCBDPL",
  "OCBDMH",
  "2530",
  "OFKS",
  "2356",
  "2345",
  "PPCDB",
  "OPGCBD",
  "OCBDC",
  "OCBGCBD",
  "OCBDC2",
  "OPGCBD2",
  "OKCCBD",
  "OSM3509",
  "OPZ5444",
  "2449",
  "2331",
  "CBDIHL",
  "CBDSA",
  "BLX3623",
  "PCBDC",
  "PCBDG",
  "PTCBDC",
  "CBDK9IB",
  "DYK6761",
  "JIO3353",
  "CARX3",
  "KITVAPOR650",
  "CKC9864",
  "CSCBD",
  "CBD5E",
  "CBDLIPO",
  "CBDENEC",
  "PETPLS",
  "CBDPG",
  "DOGTRT",
  "TDF9245",
  "CVPI",
  "RIU7440",
  "XROSV",
  "CIB4CAP",
  "AXB7338",
  "CHILDELT",
  "2357",
  "ACZD",
  "2359",
  "CBDFHL",
  "SDDCBD",
  "NWE7530",
  "DMW1710",
  "TGK5039",
  "XTH3672",
  "CTY8493",
  "CVCBRC",
  "enzvpt",
  "NPK6494",
  "ECCNC",
  "ECNCB",
  "ELIX40",
  "SPW3019",
  "2350",
  "FCT2390",
  "WSR3744",
  "ZTJ7125",
  "MTS6731",
  "CBDOLEO250MG",
  "BATERIAVAPER",
  "FND4587",
  "2351",
  "MJZ1474",
  "ECNC",
  "MEDCBD",
  "TAEOCS",
  "ICK4928",
  "CBDOLEO600MG",
  "SBA3010",
  "BRI4247",
  "FTPCBDX3",
  "FAU8804",
  "XPR8657",
  "BJX9326",
  "OGV1060",
  "NDF1834",
  "QKC6340",
  "EAK2577",
  "ZUR4098"
]
    </script>

  <footer>
    <div class="app__footer">
      <div class="container-fluid">
        <div class="app__stamps">
          <%- await include(`@/sections/stamps`, { _, opt: { stamps: footer.stamps } }) %>
        </div>
      </div>
    </div>

    <div class="app__credits container">
      <div>
        <% if (footer.credits) { %>
          <span><%= footer.credits %></span>
        <% } else { %>
          <span class="app__credits-name">© <%= _.settings.name %> </span>
          <span class="app__credits-address"> - <%= contacts.address %> - </span>
          <span class="app__credits-number"> <%= contacts.doc_number %></span>
        <% } %>
      </div>

      <%- await include('@/layout/inc/ecom-credits') %>
    </div>
  </footer>

  <%- await include('@/json', { _ }) %>
  <%- await include('@/scripts') %>
</body>

</html>
